.turbo-drawer {
    display: inline-flex;
    align-items: center;
    direction: ltr;
}

.turbo-drawer-panel-container {
    overflow: hidden;
}

.turbo-drawer.top-drawer {
    flex-direction: column;
}

.turbo-drawer.bottom-drawer {
    flex-direction: column-reverse;
}

.turbo-drawer.left-drawer {
    flex-direction: row;
}

.turbo-drawer.right-drawer {
    flex-direction: row-reverse;
}

.turbo-drawer > div:first-child {
    display: inline-block;
    position: relative;
}

.turbo-drawer > div:nth-child(2) {
    display: flex;
    position: relative;
    align-items: center;
}