.turbo-drawer {
    display: inline-flex;
    align-items: center;
    direction: ltr;
}

.turbo-drawer-panel-container {
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: center;
}

.turbo-drawer-thumb {
    display: inline-block;
    position: relative;
}

.turbo-drawer.top-drawer, .top-drawer .turbo-drawer-panel-container {
    flex-direction: column;
}

.turbo-drawer.bottom-drawer, .bottom-drawer .turbo-drawer-panel-container {
    flex-direction: column-reverse;
}

.turbo-drawer.left-drawer, .left-drawer .turbo-drawer-panel-container {
    flex-direction: row;
}

.turbo-drawer.right-drawer, .right-drawer .turbo-drawer-panel-container {
    flex-direction: row-reverse;
}