.turbo-drawer {
    display: inline-flex;
    align-items: center;
}

.turbo-drawer.top-drawer, .turbo-drawer.top-drawer .turbo-drawer-panel-container {
    flex-direction: column;
}

.turbo-drawer.bottom-drawer, .turbo-drawer.bottom-drawer .turbo-drawer-panel-container {
    flex-direction: column-reverse;
}

.turbo-drawer.left-drawer, .turbo-drawer.left-drawer .turbo-drawer-panel-container {
    flex-direction: row;
}

.turbo-drawer.right-drawer, .turbo-drawer.right-drawer .turbo-drawer-panel-container {
    flex-direction: row-reverse;
}

.turbo-drawer > div:first-child {
    display: inline-block;
    position: relative;
    background-color: white;
}

.turbo-drawer > div:nth-child(2) {
    display: flex;
    position: relative;
    align-items: center;
}

.turbo-drawer > div:nth-child(2) > :first-child {
    display: block;
    background-color: white;
}