turbo-dropdown-entry {
    width: 100%;
    padding: 0.5em 0.7em;
}

turbo-dropdown-entry:hover {
    background-color: #d7d7d7;
}

turbo-dropdown-entry:not(:last-child) {
    border-bottom: solid 0.1em #bdbdbd;
}