.row {
    display: flex;
    gap: 12px;
    align-items: center;
    margin: 6px 0;
}

.tag {
    font: 12px/1.2 monospace;
    opacity: .7;
}

.turbo-icon {
    width: 16px;
    height: 16px;
    display: block;
    align-items: center;
    justify-content: center;
}

.turbo-icon > svg, .turbo-icon > img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    fill: white;
}